
body {
    margin-top: 150px;
    background: blue;
    font-family: Arial, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#password-container {
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
}
#generate-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}